body.light-theme {
  background-color: #ffffff;
  color: #000000;
}

body.dark-theme {
  background-color: #121212;
  color: #ffffff;
}

.navbar-light .navbar-brand {
  color: #000000;
}

.navbar-dark .navbar-brand {
  color: #110f0f;
}
